*{
    box-sizing: border-box;
}

body{
    background-color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display:flex;
}

nav{

    display: flex;
    justify-content: center;
    align-items: center;
    padding:15px;
}

main {
    display :flex;
    align-items: center;
    justify-content: center;
}


.search-bar{
    display:flex;
    
}

.plus-icon{
    display:flex;
    flex-direction: row;
}

.initial-state {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
}

section > h2 {
    color:#DFDDDD;
    font-weight: 700;
    font-size:18px;
  

}


footer{
    border: 1px solid #000;
    height: 15px;
}

.no-data-state{

}