*{
    box-sizing: border-box;
}

body{
    background-color: #ffff;
    font-family: Inter, sans-serif;
    width:550px;

    
}

header{
    display:flex;
    height:208px;
    background : #000 no-repeat center url("./asset/img/bg.png");
    color : #fff;
    justify-content: center;
    align-items: center;
    
}

h1{
    font-weight: 800;
    font-size: 42px;
    width:350px;
    /* border: 1px dashed white; */
    
}

nav{
    display: flex;
    width: 125px;
    /* border: 1px solid white; */
    font-weight: 700;
    font-size: 14px ;
    justify-content: end;
    padding: 5 0 5 0;
}

nav > a {
    color: #fff;
    text-decoration: none;

}

main {
    display :flex;
    align-items: center;
    justify-content: center;
}


.search-bar{
    display:flex;
    
}

.plus-icon{
    display:flex;
    flex-direction: row;
}

.initial-state {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
}

section > h2 {
    color:#DFDDDD;
    font-weight: 700;
    font-size:18px;
  

}


footer{
    border: 1px solid #000;
    height: 15px;
}

.no-data-state{

}

.populated-state-search-page{
    
}