/* elements */

*{
    box-sizing: border-box;
    margin:auto;
}

body{
    background-color: #000;
    font-family: Inter, sans-serif;
    width:550px;
    position: relative;
    
}

header{
    display:flex;
    height:208px;
    background :  #0e0e0e no-repeat center url("./asset/img/bg.png");
    color : #fff;
    justify-content: center;
    align-items: center;
    
}

h1{
    font-weight: 800;
    font-size: 42px;
    width:350px;
    /* border: 1px dashed white; */
    
}

nav{
    display: flex;
    width: 125px;
    /* border: 1px solid white; */
    font-weight: 700;
    font-size: 14px ;
    justify-content: end;
    padding: 5 0 5 0;
}

nav > a {
    color: #fff;
    text-decoration: none;

}

main {
    display :flex;
    align-items: center;
    justify-content: center;
}


h2 {
    color:#DFDDDD;
    font-weight: 700;
    font-size:18px;
  

}


footer{
    border: 1px solid #000;
    height: 15px;
}


/* classes */

.search-bar{
    width: 460px;
    height: 38px;
    display:flex;
    position:absolute;
    top:189px;
    left: 44px;
    border:solid gray 1px;
    border-radius: 6px;
    background-color: #fff;
    
}

.plus-icon{
    display:flex;
    flex-direction: row;
}


.initial-state, .empty-watchlist {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    background-color:green;
    width: 550px;
    height: 779px;
}

.no-data-state{
    background-color: orange;
    width: 550px;
    height: 779px;
}

.populated-state-search-page, .populated-watchlist{
    background-color: blue;
    width: 550px;
    height: 779px;
}


